<div class="mx-auto md:w-2/3 w-full">
  <h1 class="font-bold text-4xl">Sign Up</h1>

  <%= form_with model: @user, url: registration_path, class: "contents" do |f| %>
    <% if @user.errors.any? %>
      <div class="py-2 px-3 bg-red-50 mb-5 text-red-500 font-medium rounded-lg">
        <%= @user.errors.full_messages.to_sentence %>
      </div>
    <% end %>

    <div class="my-5">
      <%= f.email_field :email_address, required: true, autofocus: true, autocomplete: "username",
          placeholder: "Enter your email address",
          class: "block shadow-sm rounded-md border border-gray-400 focus:outline-blue-600 px-3 py-2 mt-2 w-full" %>
    </div>

    <div class="my-5">
      <%= f.password_field :password, required: true, autocomplete: "new-password",
          placeholder: "Enter a password",
          class: "block shadow-sm rounded-md border border-gray-400 focus:outline-blue-600 px-3 py-2 mt-2 w-full" %>
    </div>

    <div class="my-5">
      <%= f.password_field :password_confirmation, required: true, autocomplete: "new-password",
          placeholder: "Confirm your password",
          class: "block shadow-sm rounded-md border border-gray-400 focus:outline-blue-600 px-3 py-2 mt-2 w-full" %>
    </div>

    <div class="col-span-6 sm:flex sm:items-center sm:gap-4">
      <%= f.submit "Create Account",
          class: "w-full sm:w-auto text-center rounded-md px-3.5 py-2.5 bg-blue-600 hover:bg-blue-500 text-white inline-block font-medium cursor-pointer" %>
      <div class="mt-4 text-sm text-gray-500 sm:mt-0">
        Already have an account? <%= link_to "Sign in", new_session_path, class: "text-gray-700 underline hover:no-underline" %>
      </div>
    </div>
  <% end %>
</div>
