<div class="flex flex-col h-full">
  <div class="flex justify-between items-center mb-4 px-4 pt-4">
    <h1 class="text-2xl font-bold"><%= @board.name %></h1>
    <div class="flex gap-2">
      <%= link_to "Edit Board", edit_board_path(@board), class: "text-sm text-blue-600 hover:underline" %>
      <%= link_to "Back to Boards", boards_path, class: "text-sm text-gray-600 hover:underline" %>
    </div>
  </div>

  <div class="flex gap-4 overflow-x-auto px-4 pb-4 items-start">
    <div id="swimlanes" class="flex gap-4 items-start">
      <%= render partial: "swimlanes/swimlane", collection: @swimlanes, locals: { board: @board } %>
    </div>

    <div class="flex-shrink-0 w-64">
      <%= turbo_frame_tag "new_swimlane_form" do %>
        <%= render "swimlanes/new_form", board: @board, swimlane: Swimlane.new %>
      <% end %>
    </div>
  </div>
</div>
